.about-container {
    margin: 100px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.animated-div {
    display: inline-block;
    position: relative;
    animation-name: slidein;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}
}
